In [1]:
import pandas as pd

**Load data from Excel spreadsheets.**

In [11]:
tfp_df = pd.read_excel("C:/SEAN/GA Tech Academics/Grad/Fall 2024/Data Vis CS 6730/Sean-Data-Vis-Team-Project/Datasets/Total Factor Productivity.xlsx")

In [12]:
tfp_df.head(20)

   Country/territory  Year        Attribute         Value
0            Nigeria  1961        TFP_Index  8.847795e+01
1            Nigeria  1961     Outall_Index  1.927735e+01
2            Nigeria  1961      Input_Index  2.178774e+01
3            Nigeria  1961       Land_Index  4.036688e+01
4            Nigeria  1961      Labor_Index  5.142739e+01
5            Nigeria  1961    Capital_Index  8.699238e+00
6            Nigeria  1961  Materials_Index  8.092651e+00
7            Nigeria  1961         Outall_Q  1.060214e+07
8            Nigeria  1961        Outcrop_Q  9.602339e+06
9            Nigeria  1961        Outanim_Q  9.948450e+05
10           Nigeria  1961        Outfish_Q  4.953316e+03
11           Nigeria  1961           Land_Q  2.197499e+04
12           Nigeria  1961          Labor_Q  1.142015e+04
13           Nigeria  1961        Capital_Q  1.423602e+04
14           Nigeria  1961     Fertilizer_Q  2.161065e+04
15           Nigeria  1961           Feed_Q  7.778164e+06
16           Nigeria  1961       Cropland_Q  2.092998e+04
17           Nigeria  1961        Pasture_Q  2.700000e+04
18           Nigeria  1961      IrrigArea_Q  2.000000e+02
19           Nigeria  1962        TFP_Index  8.983164e+01

**Drop all rows whose attribute is NOT TFP_Index.**

In [13]:
tfp_df = tfp_df[tfp_df.iloc[:, 2] == "TFP_Index"]

In [14]:
tfp_df.head(20)

    Country/territory  Year  Attribute      Value
0             Nigeria  1961  TFP_Index  88.477955
19            Nigeria  1962  TFP_Index  89.831644
38            Nigeria  1963  TFP_Index  89.342143
57            Nigeria  1964  TFP_Index  89.372816
76            Nigeria  1965  TFP_Index  88.202357
95            Nigeria  1966  TFP_Index  85.029830
114           Nigeria  1967  TFP_Index  85.882110
133           Nigeria  1968  TFP_Index  84.654755
152           Nigeria  1969  TFP_Index  87.068231
171           Nigeria  1970  TFP_Index  93.015045
190           Nigeria  1971  TFP_Index  83.811347
209           Nigeria  1972  TFP_Index  77.425250
228           Nigeria  1973  TFP_Index  75.272788
247           Nigeria  1974  TFP_Index  83.757192
266           Nigeria  1975  TFP_Index  78.083878
285           Nigeria  1976  TFP_Index  72.403628
304           Nigeria  1977  TFP_Index  74.626684
323           Nigeria  1978  TFP_Index  73.655564
342           Nigeria  1979  TFP_Index  73.405361
361           Nigeria  1980  TFP_Index  73.662253

**Save the modified tfp_df to Excel sheets- one by country, one by region.**

In [ ]:
tfp_df.to_excel("C:/SEAN/GA Tech Academics/Grad/Fall 2024/Data Vis CS 6730/Sean-Data-Vis-Team-Project/Datasets/TFP Cleaned.xlsx", index=False)

In [16]:
tfp_df.iloc[0:10546, :].to_excel("C:/SEAN/GA Tech Academics/Grad/Fall 2024/Data Vis CS 6730/Sean-Data-Vis-Team-Project/Datasets/TFP Cleaned COUNTRY.xlsx", index=False)

In [18]:
tfp_df.iloc[10547:, :].to_excel("C:/SEAN/GA Tech Academics/Grad/Fall 2024/Data Vis CS 6730/Sean-Data-Vis-Team-Project/Datasets/TFP Cleaned REGION.xlsx", index=False)